<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReadTextFilePath" value="C:\\temp\\unsorted-names-list.txt" />
    <add key="WriteTextFilePath" value="C:\\temp\\sorted-names-list.txt" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>